@font-face {
    font-family: Typewriter;
    src: url('MonospaceTypewriter.ttf');
}
.before {
	color: #000000;
    background: #ABB5E6;
	font-weight: bold;
    border: 2px solid #8488C4;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.before:hover {
    color: #FFF;
    background: #8488C4;
}
.normal {
	color: #FFFFFF;
	background: #63CC00;
	font-weight: bold;
	border: 2px solid #59B200;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.normal:hover {
	color: #000000;
	background: #59B200;
}
.cosmos {
	color: #b341e0;
	background: black;
	border: 2px solid #b341e0;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}

.cosmos:hover {
	color: #511568;
	background: white;
}
.unima {
	color: #32c832;
	background: #0a640a;
	border: 2px solid #32c832;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}

.unima:hover {
	background: #32c832;
	color: #0a640a;
}
}
