@font-face {
    font-family: Typewriter;
    src: url('MonospaceTypewriter.ttf');
}

.tab {
    color: #000000;
    background: #999999;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    transition-duration: 0.2s;
}

.tab:hover {
    color: #000000;
    background: #BFBFBF;
}

.prestige {
    color: #E5E5E5;
    background: #000000;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    transition-duration: 0.2s;
}

.prestige:hover {
    color: #000000;
    background: #E5E5E5;
}

.sup {
    color: #728599;
    background: #E5E5E5;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    transition-duration: 0.2s;
}

.sup:hover {
    color: #E5E5E5;
    background: #728599;
}

.hyp {
    color: #7200E5;
    background: #4C0000;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    transition-duration: 0.2s;
}

.hyp:hover {
    color: #4C0000;
    background: #7200E5;
}

.exotic {
    color: #FF00FF;
    background: linear-gradient(#A17FFF, #B200FF, #A17FFF);
    font-weight: bold;
    border: none;
    border-radius: 0px;
    transition-duration: 0.2s;
}

.exotic:hover {
    color: #FF0080;
}

.qua {
    color: #00C000;
    text-shadow: 0px 0px 3px #008000, 0px 0px 3px #004000;
    background: radial-gradient(circle, #00FF00, #00E000);
    font-weight: bold;
    border: none;
    border-radius: 0px;
    transition-duration: 0.2s;
}

.qua:hover {
    color: #00E000;
}

.grav {
    color: #808080;
    font-weight: bold;
    background: radial-gradient(circle, #000000, #404040 12.5%, #000000, #404040 62.5%, #000000);
    border: none;
    border-radius: 0px;
    transition-duration: 0.2s;
}

.grav:hover {
    color: #BFBFBF;
    text-shadow: 0px 0px 3px #808080;
}

.rela {
	color: #FFFFFF;
	text-shadow: 0px 0px 3px #FFFF7F;
	background: radial-gradient(transparent, #ffffff),  linear-gradient(#FFFFFF, #FFFFA0, #FFFFFF);
	border: none;
	font-weight: bold;
	border-radius: 0px;
	animation: rela 3s linear infinite;
	background-size: 100% 300%;
	transition-duration: 0.2s
}

.rela:hover {
	text-shadow: 0px 0px 6px #FFFF7F;
}

@keyframes rela { 
	0%{
	    background-position: 0% 0%, 0% 0%;
	}
	100%{
	    background-position: 0% 0%, 300% 300%;
	}
}
