@font-face {
    font-family: Typewriter;
    src: url('MonospaceTypewriter.ttf');
}
.normal {
	color: #000000;
    background: #F2F2F2;
	font-weight: bold;
    border: 2px solid #4980CC;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.normal:hover {
    color: #FFF;
    background: #4980CC;
}
.infinity {
	color: #FFFFFF;
	background: #1F1F1F;
	font-weight: bold;
	border: 2px solid #B67F33;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.infinity:hover {
	color: #000000;
	background: #B67F33;
}
.eternity {
	color: #b341e0;
	background: black;
	border: 2px solid #b341e0;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}

.eternity:hover {
	color: #511568;
	background: white;
}
.quantum {
	color: #32c832;
	background: #0a640a;
	border: 2px solid #32c832;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}

.quantum:hover {
	background: #32c832;
	color: #0a640a;
}
}
